body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:#f4f7fc;
}

.register-container{
  height:100vh;
  display:flex;
}

.register-left{
  flex:1;
  background:linear-gradient(135deg,#160334,#2563eb);
  color:white;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  padding:40px;
}

.register-left h1{
  font-size:55px;
  margin-bottom:10px;
}

.register-left p{
  font-size:20px;
  text-align:center;
  line-height:1.8;
}

.register-right{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}

.register-card{
  width:420px;
  background:white;

  padding:40px;

  border-radius:20px;

  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.register-card h2{
  text-align:center;
  color:#1e293b;
  margin-bottom:30px;
}

.register-card input{
  width:100%;
  padding:14px;
  margin-bottom:15px;

  border:1px solid #d1d5db;
  border-radius:10px;

  font-size:15px;
  box-sizing:border-box;
}

.register-btn{
  width:100%;
  padding:14px;

  background:#6d28d9;
  color:white;

  border:none;
  border-radius:10px;

  font-size:16px;
  font-weight:bold;

  cursor:pointer;
}

.register-btn:hover{
  background:#5b21b6;
}

.login-link{
  text-align:center;
  margin-top:20px;
}

.login-link a{
  color:#2563eb;
  text-decoration:none;
  font-weight:bold;
}

.auth-logo{
  width:120px;
  height:auto;
  margin-bottom:20px;
}