body{
  margin:0;
  background:#f1f5f9;
  font-family: 'Segoe UI', sans-serif;
}

.navbar{
  background: linear-gradient(90deg, #6d28d9, #86a4e3);
  padding: 20px;
  display: flex;
  gap: 15px;
}

.navbar button{
  flex: 1;
  height: 50px;
  border: none;
  border-radius: 12px;
  background: white;
  font-weight: 600;
  cursor: pointer;
}

.navbar button:hover{
  transform: translateY(-1px);
  background: #b9bdc0;
}

.container{
  width:90%;
  margin:auto;
  padding:20px;
}

button{
  background:#3872ac;
  color:rgb(10, 10, 10);
  border:none;
  padding:10px 18px;
  margin:5px;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#1d4ed8;
}

.header{
  background: linear-gradient(90deg,#1e1b4b,#2563eb);
  padding:20px 40px;
  color:white;
}

.logo-section{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo{
  width:60px;
  height:60px;
}

textarea{
    width:100%;
}

.banner{
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.banner img{
  width: 100%;
  max-width:1600px;
  max-height:400px;
  border-radius:5px;
}